/**
*   FONTS
*/

body {
  font-family: Calibri, 'sans-serif';
}

.title-page__title {
  font-size: 45px;
}

.page__header {
  font-size: 40px!important;
  padding: 40px 0!important;
  font-weight: bold!important;
}

.page__create-button {
  justify-content: end;
}

.page__button {
  color: inherit;
  text-decoration: none;
}

.page__button:hover {
  color: inherit;
}

.nav-link a {
  text-decoration: none!important;
  color: red!important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.nav-link a:hover {
  color: #ee6f6f!important;
}

.navbar-brand {
  font-weight: bold;
  font-size: 30px;
}

.pagination__content {
  display: flex;
  justify-content: center;
}

